---
const services = [
  {
    name: 'Shri Bob Thurman',
    link: 'https://bobthurman.com/',
    footnote: "Padma Shri, Govt of India, 2020",
    image: '/assets/team-1.webp',
    description:
      'Bob Thurman, our revered Chairperson, brings to Dharma Bob a profound understanding of Buddhist philosophy and an engaging personality that captivates audiences worldwide. His illustrious career as a scholar, coupled with his dedication to making ancient wisdom accessible and relevant, guides our mission to offer a modern, playful approach to personal growth through the app’s dynamic interactions.',
  },
  {
    name: 'John Campbell',
    link: 'https://events.thus.org/teacher/john-r-b-campbell-phd/',
    image: '/assets/team-2.webp',
    description:
      'John Campbell, our Principal Asana Vision Architect is a renowned Sanskrit and Tibetan translator and a Fulbright Fellow bringing over two decades of Ashtanga Yoga practice and teaching to lead the development of Dharma Bob’s Computer Vision Yoga Module. His deep expertise ensures that our users receive high-quality, insightful guidance as they cultivate their practice with the app.',
  },
  {
    name: 'Rajeev Panwar',
    link: 'https://www.linkedin.com/in/rajeev-panwar/',
    image: '/assets/team-3.webp',
    description:
      'Rajeev Panwar, our Founder and CEO, brings a unique blend of financial acumen and spiritual depth to Shree Collective. With extensive experience in data analytics, coupled with his deep practice in various yoga disciplines and reiki, Rajeev leads Dharma Bob\'s mission-driven growth while fostering a holistic approach to personal development.',
  },
  {
    name: 'Corey Hanson',
    link: 'https://www.linkedin.com/in/coreyhanson/',
    image: '/assets/team-4.webp',
    description:
      'Corey Hanson, our Cofounder and CTO, combines technical expertise with creative flair to lead Dharma Bob\’s innovative AI features. With years of experience in machine learning in the non-profit sector and a passion for balancing innovation with artistic expression, Corey is the driving force behind Dharma Bob\'s engaging and profound interactions.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Core Team</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((item) => (
            <li class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <div class="space-y-6">
                {item.link ? <a href={item.link} target="_blank"><img class="mx-auto h-auto w-64 rounded-lg" src={item.image} alt={item.name} /></a> : <img class="mx-auto h-auto w-64 rounded-lg" src={item.image} alt={item.name} />}
                <div class="text-center">
                  <h3 class="text-lg font-medium, underline"><strong>{item.link ? <a href={item.link} target="_blank">{item.name}</a> : item.name}</strong></h3>
                  {item.footnote ? <p class="mt-0 text-sm text-gray-600 dark:text-gray-400">{item.footnote}</p> : <span></span>}
                  <p class="mt-2 text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                    {item.description}
                  </p>
                </div>
              </div>
            </li>
          ))
        }
      </div>
    </div>
  </div>
</section>
